<div style="background-color:#eeeeee;">
 
Tehran Institute for Advanced Study (TeIAS)

<div class="container">
 <br><br>
 <div class="columns is-multiline">            
  <div class="column is-6">
   <h3>Khatam University</h3>
   <p class="subtitle is-5">Tehran Institute for Advanced Study (TeIAS)</p>
  </div>
  
  <div class="column is-6">
   <a href="http://pilehvar.github.io/">
    <i class="fas fa-globe fa-1x"></i>
    <p class="subtitle">Instructor Webpge</p>
   </a>
   <a href="https://twitter.com/tpilehvar">
    <i class="fas fa-twitter fa-1x"></i>
    <p class="subtitle">tpilehvar</p>
   </a>
 </div>
</div>
 
</div>
