<div class="container", markdown="1", style="background-color:#dddddd;">
 
## Khatam University
Tehran Institute for Advanced Study (TeIAS)
 
<div class="columns is-multiline">            
  <div class="column is-4">
   <h1>
    Course instructor
   </h1>
   <div class="column is-6 has-text-centered">
    <img src="./MeVectorized4.png" height="auto" width="96" style="border-radius:100%">
    <p class="subtitle is-5">Mohammad Taher<br>Pilehvar</p>
   </div>
  </div>
  <div class="column is-8">
   <h1>
    Teaching Assistants
   </h1>
   <div class="columns is-multiline">
    <div class="column is-3 has-text-centered">
     <img src="./MeVectorized4.png" height="auto" width="96" style="border-radius:100%">
     <p class="subtitle is-5">Kiamehr<br>Razaee</p>
    </div>
 </div>
</div>
