<div style="background-color:#eeeeee;">
 
<div class="container">
 <br><br>
 <div class="columns is-multiline">            
  <div class="column is-6">
   <h1>Khatam University</h1>
   <p class="subtitle">Tehran Institute for Advanced Study (TeIAS)</p>
  </div>
  
  <div class="column is-6">
   <a href="http://pilehvar.github.io/">
    <i class="fas fa-globe fa-1x"></i>
    <span class="subtitle">Instructor Webpge</span>
   </a>
   <br>
   <a href="https://twitter.com/tpilehvar">
    <i class="fas fa-globe fa-1x"></i>
    <span class="subtitle">tpilehvar</span>
   </a>
 </div>
 <br><br>
</div>
<br><br>

</div>
