---
---
$primary: #751555;
// Import Main CSS file from theme
@import "main";

body {
  position: relative;
  min-height: 100vh;
}

section {
  padding-bottom: 12.5rem !important;    /* Footer height */
}

body .section {
  padding-bottom: 12.5rem;    /* Footer height */
}
